.footer {
  width: 100%;
  padding: 1rem;

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    &_school {
      width: 5.5rem;
    }

    &_github {
      width: 2.6rem;
    }
  }
}
